.nganh { color: red;
    font-style: italic;
    font-weight: bold;}
    #gt1 {color: blue;}
    #gt2 {color:green;}
    body {font-family:Verdana, Geneva, Tahoma, sans-serif;
    }































